*.swp
*.o
*.symvers
*.order
*.ko
*.cmd
*.mod.c
*.cache.mk
*.cproject
*.project
*.dwo
*.sh
test
/DTS-OrangePiOne/*
!/DTS-OrangePiOne/mcp23016.dtsi
/.tmp_versions
/arch-include
/include
/.settings
/.tracecompass
